font-dir = "/fonts"

@font-face
   font-family: 'Colaborate'
   src: url(font-dir + "/ColabLig-webfont.eot")
   src: url(font-dir + "/ColabLig-webfont.eot?iefix") format('eot'),
        url(font-dir + "/ColabLig-webfont.woff") format('woff'),
        url(font-dir + "/ColabLig-webfont.ttf") format('truetype'),
        url(font-dir + "/ColabLig-webfont.svg#webfontR2xcGGVv") format('svg');
   font-weight: normal
   font-style: normal

@font-face
   font-family: 'Colaborate';
   src: url(font-dir + "/ColabMed-webfont.eot");
   src: url(font-dir + "/ColabMed-webfont.eot?iefix") format('eot'),
        url(font-dir + "/ColabMed-webfont.woff") format('woff'),
        url(font-dir + "/ColabMed-webfont.ttf") format('truetype'),
        url(font-dir + "/ColabMed-webfont.svg#webfontHpK4vQGz") format('svg')
   font-weight: bold
   font-style: normal

