html
   border-top: 6px solid accent-blue
   background: whiteish url("/images/light-noise.png")

   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
   color: blackish

a
   color: accent-blue

   &:visited
      color: accent-blue-dull

   &:hover
      color: accent-blue-highlight

::-moz-selection
   background: accent-blue
   color: #fff

::selection
   background: accent-blue
   color: #fff