html
   border-top: 6px solid accent-blue

body
   margin: 0 auto
   max-width: 40em

   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

a
   color: accent-blue

   &:visited
      color: accent-blue-dull

   &:hover
      color: accent-blue-highlight

::-moz-selection
   background: accent-blue
   color: #fff

::selection
   background: accent-blue
   color: #fff
