body
   background: url("/images/light-highlight.jpg") no-repeat

header#logotype
   background: linear-gradient(top, #0081C6, #0069A2)
   border: solid #0078B8
   border-width: 2px 0

   .container
      position: relative

   a
      text-decoration: none

   /*
    * All these goofy pixel values are due to the optically unbalanced nature
    * of the Softek logo.
    */

   img
      padding: 1px standard-box-padding 8px 0
      display: inline-block
      vertical-align: top

   h1
      display: inline-block
      padding-top: 8px
      margin: 0
      font-size: 15px
      line-height: 30px
      font-weight: bold
      text-transform: uppercase
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6)
      color: white

   .logotype
      float: right

section#content
   padding: 0 100px

footer#copyright
   padding: 50px 100px
   font-size: 0.8em
   color: lighten(blackish, 50%)

   a
      color: lighten(blackish, 50%)

   .utility-nav
      float: right

      .separator
         color: lighten(blackish, 70%)
         padding: 0 5px

.container
   margin: 0 auto
   padding: 0 standard-box-padding
   max-width: 960px